* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}


.grid-container {
    display: grid;
    border: 3px solid red;
    grid-template-columns: 0.4fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 3fr 1.5fr 1.5fr 2.5fr;
    gap: 5px;
    height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}


.grid-item {
    background-color: white;
    border: 3px solid red;
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

.col-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    position: relative;
    border-right: none;
    border: none;
}



    .col-1::after {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        width: 5px;
        height: calc(100% + 20px);
        background-color: red;
        z-index: 10;
    }



.col-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.col-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.col-4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.col-5 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.col-6 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.col-7 {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

.col-8 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.col-9 {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    width: 90%;
    margin-right: 10px;
}

.col-10 {
    width: 119%;
    position: relative;
    left: -60px;
}

.col-2, .col-3, .col-4, .col-5, .col-10, .col-6, .col-8, .col-7 {
    margin-right: 15px;
}


.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    margin-bottom: 10px;
}

@media (max-width: 750px) {

    .grid-container {
        display: block;
        padding: 10px 10px 10px 10px;
        height: auto;
        max-width: 100%;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        border: 2px solid red;
        border-top: none;
    }


        .grid-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: red;
            z-index: 10;
        }


    .grid-item {
        width: 100%;
        height: 90px;
        border: 3px solid red;
        margin: 0;
        box-sizing: border-box;
        position: static;
        margin: 0;
        margin-bottom: 10px;
    }


    .col-1 {
        display: none;
    }

        .col-1::after {
            display: none;
            content: none;
        }


    .col-10 {
        width: 100%;
        margin-right: 0;
    }


    .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        margin-right: 0;
    }


    .grid-item:last-child {
        display: none;
        margin-bottom: 0;
    }
}
